{% extends 'base.html' %}

<!-- Title -->
{% block title %} Register {% endblock %}

<!-- Body -->
{% block body %}
<h1>Organization Registration</h1>
<p class="text-bg-dark text-center" >Register to your account</p>

<div class="d-flex justify-content-center justify-content-evenly">

    <!-- Registration page for organization with name, email, password, confirm password, telephone number all required fields password and confirm password should match-->
    <form action="{{url_for('registerorg')}}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter name"
                required
            />
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
                required
            />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
                required
            />
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input
                type="password"
                class="form-control"
                id="confirm_password"
                name="confirm_password"
                placeholder="Confirm password"
                required
            />
        </div>
        <div class="form-group">
            <label for="telephone">Telephone Number</label>
            <input
                type="text"
                class="form-control"
                id="telephone"
                name="telephone"
                placeholder="Enter telephone number"
                required
            />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>

</div>

{% endblock %}
